.invoice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  min-height: 90vh;
}

h1 {
  margin-bottom: 20px;
}

table {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

thead {
  background-color: #007bff;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

.payment-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
