body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.background-pattern {
  height: 100vh;
  background: linear-gradient(
    135deg,
    #f0f0f0 25%,
    #ddd 25%,
    #ddd 50%,
    #f0f0f0 50%,
    #f0f0f0 75%,
    #ddd 75%,
    #ddd 100%
  );
  background-size: 400% 400%;
  animation: parallaxEffect 10s linear infinite;
}

.navbar {
  background-color: #697fcf;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.company-name {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-link {
  text-decoration: none;
}

.nav-button {
  background-color: #66a562;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Add gap between buttons */
.nav-button + .nav-button {
  margin-left: 10px;
}

.nav-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nav-button:active {
  transform: scale(0.98);
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer p {
  margin: 0;
}

@keyframes parallaxEffect {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Add the following animation for a cool pulse effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the pulse animation to the buttons */
.nav-button:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 10%,
    transparent 70%
  );
  opacity: 0;
  animation: pulse 1s infinite;
}
