.refer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 90vh;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.generated-url {
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.referral-table {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
}
