.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
  color: #697fcf; /* Primary Blue */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff; /* Pure White */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.form-entry {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus {
  box-shadow: 0 0 5px #697fcf; /* Primary Blue */
}

#webcam-video {
  display: block;
  margin: 10px 0;
}

#canvas {
  display: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #697fcf; /* Primary Blue */
  color: #ffffff; /* Pure White */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
  background-color: #697fcf; /* Light Blue */
  transform: scale(1.05); /* Scale the button up by 5% on hover */
}
