{% extends 'main.html' %} {% load static %} 
{% block title %}Cart 1{% endblock title %} 
{% block styles %}<link
  rel="stylesheet"
  href="{% static 'css/cart1.css' %}"
/>{% endblock styles %}
 {% block content %}
<div class="invoice-container">
  <h1>Invoice</h1>
  <table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Product Count</th>
        <th>Price (&pound;)</th>
      </tr>
    </thead>
    <tbody>
    {% for product_name, product_id, product_price in product_details %}
      <tr>
        <td>{{product_name}}</td>
        <td>{{product_id}}</td>
        <td>&pound;{{product_price}}</td>
      </tr>
    {% endfor %}
    <tr>
        <td colspan="2">Total Price</td>
        <td>&pound;{{total_price}}</td>
    </tr>
    </tbody>
  </table>
  <button class="payment-button"><a href='{% url "payment" %}' style="text-decoration:none; color: white">Pay Now</a></button>
</div>
{% endblock content %}
